<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} — Mobus Operandi</title>
    <meta charset='utf-8' />
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
  </head>
  <body>
    <section class="container mx-auto">
    {% block content %}{% endblock %}
    </section>
  </body>
</html>

